@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 150px;
  margin-bottom: 24px;
  position: center;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  width: 500px;
}
.text_input,
.text_output {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  margin-top: 24px;
  outline-color: #10a37f;
  width: 100%;
  vertical-align: top;
  height: max-content;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  width: auto;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  flex-basis: 100%;
}

.my-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gauche {

}
.droite{
  flex-basis: 100% ;
  padding-left: 5%;
}


.deroulant {
  background-color: #1abc9c; /* couleur de fond */
  color: #fff; /* couleur du texte */
  font-size: 16px; /* taille du texte */
  padding: 10px; /* espacement intérieur */
  border-radius: 5px; /* arrondi des bords */
  border: none; /* suppression de la bordure */
  box-shadow: none; /* suppression de l'ombre */
  flex-basis: 100%;
  margin-top: 24px;
}
